	#content .slider{width:100%;height:560px;position:relative;margin-top:-20px}
	#content .slider-list{width:100%;height:560px}
	#content .slider-list div{position:absolute;width:100%;height:560px;top:0;left:0;background:#f2f2f2;display:none}
	#content .slider-list div:first-child{display:block}
	#content .slider-list div a{display:block;height:560px;width:980px;margin:0 auto}
	#content .dot-list{position:absolute;bottom:20px;text-align:center;z-index:2;width:100%}
	#content .dot-list a{display:inline-block;margin-right:10px;width:14px;height:14px;background:url('/Solo_web/img/home-sprite.png') -50px -66px no-repeat;opacity:.3;filter:alpha(opacity=30)}
	#content .dot-list a:hover,
	#content .dot-list a.active{opacity:1;filter:alpha(opacity=100)}
	
	
	wrap{position:relative}
	.form-box{width:290px;height:338px;position:absolute;margin-right:-490px;right:50%;overflow:hidden;top:120px;z-index:2;background:rgba(51,51,51,.7);background:#7f7f7f\9;*background:#7f7f7f;_background:#7f7f7f;border:1px #686868 solid}
	.form-title{height:39px}
	.form-title span{cursor:pointer;font-family:Simsan;height:39px;float:left;text-align:center;width:96px;color:#b5b5b5;background:rgba(0,0,0,.3);background:#484949\9;*background:#484949;_background:#484949;font-size:12px;line-height:39px}
	.form-title span.spread{border:1px #777 dotted;border-top:none;border-bottom:none}
	.form-title span.cur{background:rgba(51,51,51,0);background:#7f7f7f\9;*background:#7f7f7f;_background:#7f7f7f;color:#fff;font-size:16px;font-family:"Microsoft YaHei"}
	.form-content{position:relative}
	.login-box,.register-box{width:260px;height:278px;position:absolute;top:0;padding:20px 15px 0}
	.candidate,.hunter,.business{position:absolute;width:292px;top:0;left:-584px}
	.register-box{left:0}.login-box{left:-292px}
	.form-box .control{margin-bottom:10px}
	.form-box .control input.text{border:none;width:244px;font-size:12px}
	.form-box .btn{color:#fff;font-size:22px;font-weight:400;font-family:"Microsoft YaHei";text-align:center;border:1px #6e6e6e solid;width:260px;height:40px;line-height:35px;text-shadow:none;box-shadow:none;padding:0}
	.form-box .controls{color:#bfbfbf}
	.register-box .controls{padding:12px 0 0}
	.register-box .controls label{float:left}
	.register-box .controls .xieyi{float:left;color:#bfbfbf}
	.register-box .controls .xieyi:hover{color:#fa0;text-decoration:none}
	.register-box .controls p{float:right}
	.register-box .controls a{color:#fa0}
	.register-box .controls a:hover{color:#fa0;text-decoration:underline}
	.register-box .control input.span2{width:82px}
	.register-box .control .validcode{margin:0 10px;position:relative;top:6px}
	.register-box .control .changecode{color:#bfbfbf}
	.login-box .controls{padding:8px 0 18px}
	.login-box .controls label{float:left}
	.login-box .controls a{float:right;color:#bfbfbf}
	.login-box .controls a:hover{color:#bfbfbf;text-decoration:underline}
	.login-box .info-box{color:#bfbfbf;padding:10px 0 0}
	.login-box .info-box a{color:#61c2f2}
	.login-box .info-box a:hover{text-decoration:underline}
	.login-box .connect-login{margin-top:10px;padding-top:5px;border-top:1px #8c8c8c dotted;color:#BFBFBF}
	.login-box .connect-login a{margin-left:5px;margin-right:0;color:#bfbfbf}
	.form-box .btn-login{background:#fa0;margin:10px 0 5px 0}
	.form-box .btn-login:hover{background:#fa9200}
	.form-box .btn-register{background:#3d9ccc;margin:5px 0 0 0}
	.form-box .btn-register:hover{background:#3689b3}
	.login-box .weixin{position:absolute;z-index:1;width:64px;height:49px;left:0;bottom:0;background:url(/r/164123/p/beta2/images/pages/home/home-sprite.png) no-repeat 0 0}
	    
	    
	
	input.input-xlarge {
		height: 30px;
		font-size: 16px;
		line-height: 30px;
		padding-left:4px;
	}
	
	.clearfix{*zoom:1}
	.clearfix:before,.clearfix:after{display:table;line-height:0;content:""}
	.clearfix:after{clear:both}
	    
	.checkboxui{display:inline-block;vertical-align:middle;width:16px;height:16px;line-height:0;font-size:0;background:url('/Solo_web/img/icon_formui.png') no-repeat;margin-right:5px;cursor:pointer}
	.radioui{background-position:0 -64px}
	.radioui-checked{background-position:0 -80px}
	.radioui-disabled{background-position:0 -96px}
	.radioui-checked-disabled,.radioui-disabled-checked{background-position:0 -114px}
	.checkboxui{background-position:0 0}
	.checkboxui-checked{background-position:0 -16px}
	.checkboxui-disabled{background-position:0 -32px}
	.checkboxui-checked-disabled,.checkboxui-disabled-checked{background-position:0 -48px}
	 
	.validcode{margin:0 10px;position:relative;top:6px}     
	
	
	.copy-footer{clear:both;background:#f6f6f6;margin-top:20px;padding:20px 0;color:#999;text-align:center}
	
	
	.links,.links a{color:#999}	
	.links a:hover{color:#f90}
	.links .links-wrap{margin-bottom:10px}
	.links .links-title{width:60px}
	.links .links-content{width:920px}
	.links .links-content li{float:left}
	.links .links-content a{float:left;margin-right:10px;white-space:nowrap}
	.links .links-content a.red{color:red}
	.box{padding:30px 0;background:#fff;margin-top:5px}
	.bg-gray{background-color:#fafafa}
	.box h2{margin:0 0 20px;height:24px;font-weight:400;line-height:24px;color:#999;font-size:22px;border-left:4px solid #fa9900;padding-left:9px}
	.box h2 .more{color:#7ab1cc;font-size:12px;line-height:32px}
	.box h2,
	.box h3{font-family:"Î¢ÈíÑÅºÚ"}
	footer{margin-top:0;background-color:#fff}