<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
    http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd 
    http://www.springframework.org/schema/mvc 
    http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd 
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
	<!-- spring mvc支持注解功能 -->
	<mvc:annotation-driven />
	<!-- spring mvc扫描的包路径 -->
	<context:component-scan base-package="com.solo" />
	

	<!-- Add this tag to enable annotations transactions -->
	<tx:annotation-driven transaction-manager="transactionManager" />
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://192.168.52.131:3306/solo_web"></property>
		<property name="username" value="solo_web"></property>
		<property name="password" value="soloWeb_1"></property>
		<!--改成你的密码 -->
	</bean>
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="dataSource"></property>
	</bean>
	

		<!--- StringHttpMessageConverter bean -->
	<bean id="stringHttpMessageConverter"
		class="org.springframework.http.converter.StringHttpMessageConverter" />
		<!--  -->
	<bean id="mappingJacksonHttpMessageConverter" 
		class="org.springframework.http.converter.json.MappingJacksonHttpMessageConverter"/>
	<!-- 启动Spring MVC的注解功能，完成请求和注解POJO的映射 -->   
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter">
		<property name="messageConverters">
			<list>
				<ref bean= "mappingJacksonHttpMessageConverter" />
				<!-- 新增的StringMessageConverter bean -->
				<ref bean="stringHttpMessageConverter" />
				<!-- <ref bean= "jsonHttpMessageConverter" /> -->
				<!-- <ref bean= "formHttpMessageConverter" /> -->
			</list>
		</property>
	</bean>
	<!--  
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="location">
			<value>classpath:memcached.properties</value>
		</property>
	</bean>
	-->
	
	<bean id="sockIOPool" class="com.danga.MemCached.SockIOPool"  
        factory-method="getInstance" init-method="initialize" destroy-method="shutDown" lazy-init="false">  
        <constructor-arg>  
            <value>neeaMemcachedPool</value>  
        </constructor-arg>  
        <property name="servers">  
            <list>  
                <value>192.168.52.131:11211</value>  
            </list>  
        </property>  
        <property name="initConn" value="5"/>  
        <property name="minConn" value="5"/>
        <property name="maxConn" value="25"/>  
        <property name="maintSleep" value="30" />  
        <property name="nagle" value="false"/>
        <property name="socketTO" value="3000" />  
    </bean>  
  
    <bean id="memcachedClient" class="com.danga.MemCached.MemCachedClient">  
    	<constructor-arg>  
            <value>neeaMemcachedPool</value>  
        </constructor-arg> 
        <!-- 
        <property name="compressEnable" value="true" />  
        <property name="compressThreshold" value="4096"/>  
        -->
    </bean>  

</beans>
